doctype html
html(
  lang = "en"
)

  head

    title Rhymer UI prototype

    //- Fonts
    link(
      href = "http://fonts.googleapis.com/css?family=Open+Sans:400,300"
      rel = "stylesheet"
      type = "text/css"
    )

    //- Font awesome icons
    link(
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    )

    //- CSS
    link(
      href = "/styles/main.css"
      rel = "stylesheet"
      type = "text/css"
    )

  body

    script(
      src="/scripts/main.js"
    )